@font-face {
  font-family: 'iconfont';  /* Project id 2510859 */
  src: url('//at.alicdn.com/t/font_2510859_wsc0p6h6wu.woff2?t=1620462669436') format('woff2'),
       url('//at.alicdn.com/t/font_2510859_wsc0p6h6wu.woff?t=1620462669436') format('woff'),
       url('//at.alicdn.com/t/font_2510859_wsc0p6h6wu.ttf?t=1620462669436') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }