@font-face {
    font-family: 'iconfont';  /* project id 2510859 */
    src: url('//at.alicdn.com/t/font_2510859_66yha9acf7e.eot');
    src: url('//at.alicdn.com/t/font_2510859_66yha9acf7e.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2510859_66yha9acf7e.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2510859_66yha9acf7e.woff') format('woff'),
    url('//at.alicdn.com/t/font_2510859_66yha9acf7e.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2510859_66yha9acf7e.svg#iconfont') format('svg');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }